
body{
	margin:0;
}

@font-face {
    font-family:"Playfair Display";

    src:url("PlayfairDisplay-BlackItalic.woff2") format("woff2"),
    	url("PlayfairDisplay-BlackItalic.woff") format("woff"),
    	url("PlayfairDisplay-BlackItalic.otf") format("opentype");
    
    font-style: italic;
    font-weight: 700;
}
/* Esto es barra de navegación*/
.nav__logo{
	width: 100px;
	height: 100px;
	margin-left: 60%;
	margin-top: 10%;
}

.navbar{
	margin: 0;
}

.navbar ul{
	float: right;
	list-style: none;
	color: white;
	padding: 20px;
	margin: 0px;
	margin-top: 20px;
	
}

.navbar ul li {
	display: inline;
	padding: 0px;
	margin: 5px;
	
}
/* Esto es parte del header*/
.rou{
text-align: center;
}

.fa-angle-double-down{
	color: white;
	font-size: 60px;

}

h1{ 
	position: relative;
	margin-top:-390px;
	color: white;
	text-align: center;
	font-style: italic;
    font-family:"Playfair Display";
    font-size: 80px;
    font-weight: 700;

}

.post-image{
	width: 100%;
	height: 50%;

}

/*esto es la parte blog*/

.container__blog h2{
	margin-left:15%;
}

p{
	box-sizing: border-box;
	margin-left: 15%;
	margin-right: 15%;
}
h2{
	margin-top:180px;
	font-size: 20px;
}
.contenedor__iconos ul li{
	list-style: none;
	margin-left: 25%;
}

.contenedor__iconos ul li i {
	color: #707070; 
	font-size: 30px;
	float: left;
	margin: 5px;

	
}
.blog__naomi{
	border-radius: 50%;
	margin-left: 20%;
	margin-top:25%;
}
.blog__row{
	margin-right:20%;
	margin-top:10%; 
	margin-left:20px;
}
.blog__social{
	margin:1px;
	margin-left: 70%;
	margin-top:;
	font-style: italic;
    font-family:"Playfair Display";
    font-size: 25px;
    font-weight: 700;

}
/* Esto es la parte del footer*/
hr{

}
.contenedor__usercircle{
	color: #707070; 
	font-size: 30px;
	float:left;
	margin: 5px;
	margin-top: 20px;


}
.copyright{
	background-color: black;
}
.footer__logo{
	width: 9%;
	height: 9%;
	margin-left: 45%;
}

